.Dboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  flex-grow: 1;
  padding: 30px;
}
.Dboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 1px;
  border: none;
  color: white;
  background-color: black;
  background: transparent;
  border: 0;
  color: rgb(46, 15, 118);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.wholePage{

}
.Dboard__btn:hover{
  background-color: #4bcbb0;
}


.Dboard div {
  margin-top: 7px;
}

.Dboard_navbar{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: #0fddaf;
  position: fixed;
  top: 0%;
  width: 100%;
  justify-content: space-between;
  justify-content: flex-end;
  height: 50px;
  box-shadow: 0px 2px 6px #0f0f0f;
  z-index: 3;

}

.Dboard_nav_buttons{
  display: flex;
  gap: 10px;
  background: transparent;
  border: 0;
  align-items: center;

}

.Dboard_lg{
  padding: 1px;
  font-size: 16px;
  margin-top: px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1px;
  background-color: #7282ee;
  padding: 6px 15px;
  border-radius: 1px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  width: 250px;
  text-align: center;
  height: 40px;
  background: transparent;
  border: 0;
}



.Dboard_name{

}

.dropdown{
 position: relative;
 display: inline-block;
}

.dropdown .Dboard__btn{
  vertical-align: middle;
}

.dropdown-child {
display: none;
color: rgb(46, 15, 118);
padding: 20px;
text-decoration: none;
position: absolute;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #0fddaf;
height: 10px;
min-width: 270px;
text-align: center;
cursor: pointer;
font-size: 20px;
line-height: 10px;
top: 80%
 
}

.dropdown:hover .dropdown-child {
  display: block;
  top: 40px;
  text-align: center;

}

.dropdown-child:hover{
background-color: #3ac7a9;
}



.centered-text{
display: flex;
align-items: center;
justify-content: center;
height: 50px;
margin-bottom: 15px;
}

.centered-text:hover{
background-color: #4bcbb0;
}

.header1{
font-size: 55px;
position: absolute;
top: 80px;
right: 1060px;
font-family:Georgia, 'Times New Roman', Times, serif;

}

.label1{
z-index: 2;
font-size: 30px;
position: absolute;
top: 210px;
right: 1100px;
font-family:Georgia, 'Times New Roman', Times, serif;
text-decoration: underline;
}

.groupBalance{
z-index: 2;
position: absolute;
font-size: 35px;
position: absolute;
top: 105px;
right: 140px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
text-align: center;
width: 500px;
height: 650px;
border: 2px solid rgb(7, 125, 76);
padding: 10px;
box-shadow: 11px 11px 7px 1px rgb(15, 77, 83);
border-style: double;
border-width: 10px;
border-radius: 20px;
background-color:rgb(245, 241, 241);
border-top-color: #16DB93;
  border-bottom-color: #2cea49;
}


.DataTitle{
z-index: 2;
position: relative;
font-size: 30px;
top: 0px;
right: 0px;
text-align: center;
}

.dataTable{
z-index: 2;
position: relative;
font-size: 20px;
right: 0px;
font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
top: 0px;
border-style: double;
border-color: black;
border-width: 3px;
border-radius: 10px;
height: 310px;
overflow: scroll;
background-color: #f3f7f5;
}

.dataTable2{
z-index: 2;
position: relative;
font-size: 20px;
right: 0px;
font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
top: 0px;
border-style: double;
border-color: black;
border-width: 3px;
border-radius: 10px;
height: 310px;
overflow: scroll;
background-color: #f3f7f5;
}

.tableFormat{
z-index: 2;
table-layout: fixed;
width: 480px;
}

.tableFormat2{
z-index: 2;
table-layout: fixed;
width: 346px;
}

.wholePage{
z-index: 2;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
grid-gap: 16px;
}

.pictureButton{
display: flex;
position: absolute;
top: 250px;
left: 200px;
font-family:Georgia, 'Times New Roman', Times, serif;

}

.scanReceipt{
z-index: 2;
position: relative;
background-color:rgb(161, 233, 159);
height: 200px;
width: 250px;
top: 60px;
right: 80px;

padding: 10px;
font-size: 18px;
margin-top: 1px;
border-style: double;
border-width: 10px;
border-radius: 20px;
background-color:rgb(245, 241, 241);
border-top-color: #16DB93;
border-bottom-color: #2cea49;
border-left-color: rgb(187, 247, 138);
border-right-color: rgb(187, 247, 138);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 34px;
text-align: center;
vertical-align: center;
cursor: pointer;
box-shadow: 6px 6px 5px 1px rgb(8, 94, 51);

}

.react-modal-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #2cea49;
display: flex;
justify-content: center;
align-items: center;
}

.react-modal-content{
background-color: white;
padding: 20px;
}


.inputManual{
z-index: 2;
position: relative;
background-color:rgb(161, 233, 159);
height: 200px;
width: 250px;
top: 60px;
right: -70px;

padding: 10px;
font-size: 18px;
margin-top: 1px;
border-style: double;
border-width: 10px;
border-radius: 20px;
background-color:rgb(245, 241, 241);
border-top-color: #16DB93;
border-bottom-color: #2cea49;
border-left-color: rgb(187, 247, 138);
border-right-color: rgb(187, 247, 138);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 34px;
text-align: center;
vertical-align: top;
cursor: pointer;
box-shadow: 6px 6px 5px 1px rgb(8, 94, 51);

}

tr{
display: block;
float: left;
font-weight: normal;
}

th,
td{
display: block;
text-align: center;
padding: 6px;
border: 1px solid #ccc;
font-weight: normal;
width: 114px;
}

.yourPayments{
z-index: 2;
position: absolute;
top: 350px;
right: 100px;

}
.paylabel{
z-index: 2;
font-size: 30px;
position: relative;
top: 0px;
right: 0px;
font-family:Georgia, 'Times New Roman', Times, serif;
text-decoration: underline;
}

.modal {
position: fixed;
z-index: 51;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
height: 800px;
background-color: #f9f9f9;
padding: 30px;
border-radius: 16px;
box-shadow:rgb(7, 125, 76);
overflow: scroll;
}

.overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(124, 120, 120, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 50;
}

.modalTitle{
text-align: center;
font-size: 55px;
margin-bottom: 00px;
}

.formStyle{
display: flex;
flex-direction: column;
gap: 10px;
max-width: 300px;
margin: 0 auto;
}

.priceStyle{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 20px;
height: 40px;
color: #716f6f;
}

.payerStyle{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 20px;
height: 40px;
color: #716f6f; /* Set the color to a gray tone */
opacity: 1;
}

.required-field {
color: red;
margin-left: 4px;
}

.subtitle{
font-size: 25px;
margin-bottom: -5px;
position: relative;
top: 0px;
right: 0px;
}

.subtitle2{
font-size: 25px;
margin-bottom: -5px;
position: relative;
top: 0px;
right: 0px;
}

.selectButton{
position: relative;
display: flex;
align-items: center;
gap: 50px;
margin-top: -15px;
margin-left: 17px;
}

.sButton{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 18px;
height: 40px;
color: #716f6f; /* Set the color to a gray tone */
opacity: 1;
margin-right: 0px;
}

.smallButton{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 20px;
height: 40px;
color: #716f6f; /* Set the color to a gray tone */
opacity: 1;
max-width: 180px;
}

.extraInfo{
display: grid;
}

.closeButton{
position: absolute;
left: 540px;
top: 9px;
border: none;
background: none;
padding: 0;
cursor: pointer;
}

.submitButton{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 18px;
height: 40px;
color: #292727; /* Set the color to a gray tone */
opacity: 1;
margin-right: 0px;
background-color: #8ef19d;
border-style: dashed;
border-color: black;
border-width: 3px;
}

.closingButton{
padding: 8px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 18px;
height: 40px;
color: #222020; /* Set the color to a gray tone */
opacity: 1;
margin-right: 0px;
background-color: #f18a8a;
border-style: dashed;
border-color: black;
border-width: 3px;
}